<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page }} - EDFT</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="title">
        <div id="title-left">
            <span>Elite: Dangerous Faction Tracker</span>
        </div>
        <div id="title-right">
            <span>BY CMDR HAELNORR<br>version  {{ version }}</span>
        </div>
    </div>
    <div id="nav">
        <a href="/dashboard">Dashboard</a>
        <a href="/system">Systems</a>
        <a href="/faction">Factions</a>
        <a href="/alerts">Alerts</a>
    </div>
    <div id="main">
    {% block content %}{% endblock %}
    </div>
</body>
</html>