{% extends "base.html" %}
{% if request.MOBILE %}
{% block mobile_content %}
<div id="content-mb">
<div id="manage-dash-mb">
    <h2>Manager Dashboard</h2>
    <div id="manage-nav-mb">
        <a href="{{ url_for('manage_notices') }}">Notices</a>
        <a>Expansions</a>
        <a href="{{ url_for('users') }}">Users</a>
    </div>
    {% block mobile_manage %}{% endblock %}
</div>
</div>
{% endblock %}
{% else %}
{% block content %}
<div id="manage-dash">
    <h2>Manager Dashboard</h2>
    <div id="manage-nav">
        <a href="{{ url_for('manage_notices') }}">Notices</a>
        <a href="{{ url_for('manage_newsystem') }}">Track New System</a>
        <a>Forum Post Creator (WIP)</a>
        <a href="{{ url_for('users') }}">Users</a>
    </div>
    {% block manage %}{% endblock %}
</div>
{% endblock %}
{% endif %}