{% extends "manage.html" %}
{% if request.MOBILE %}
{% block mobile_manage %}
    <form id="newsystem-mb" class="forms" action="" method="post" novalidate>
        <h3>Track New System</h3>
        {{ form.hidden_tag() }}
        <p>
            {{ form.systemname.label }}<br>
            {{ form.systemname(class='textfield-mb') }}<br>
            {% for error in form.systemname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}  <a href="{{ url_for('manage') }}" id="cancel-mb">Cancel</a></p>

    </form>
{% endblock %}
{% else %}
{% block manage %}
    <form id="newsystem" class="forms" action="" method="post" novalidate>
        <h3>Track New System</h3>
        {{ form.hidden_tag() }}
        <p>
            {{ form.systemname.label }}<br>
            {{ form.systemname(class='textfield') }}<br>
            {% for error in form.systemname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}  <a href="{{ url_for('manage') }}" id="cancel">Cancel</a></p>

    </form>
{% endblock %}
{% endif %}