{% extends "base.html" %}
{% if request.MOBILE %}
{% block mobile_content %}
<div id="content-mb">
    <h2>Non-Natives Tracking</h2>
    <table class="non-natives-table tables table-scroll">
        <tr class="title-row">
            <td>System</td>
            <td>{{ results["master_name"] }}</td>
            {% for i in range(1, results["max_count"]+1) %}
                <td class="table-break"></td>
                <td>Faction {{i}}</td>
                <td>Pos</td>
                <td>% Latest</td>
                <td>%</td>
                <td>%</td>
            {% endfor %}
        </tr>
        {% for system in results["data"] %}
        <tr class="content-row">
            <td><a href="{{ url_for('system', sf_id=system['id']) }}">{{ system["name"] }}</a></td>
            <td>#{{ system["master_pos"] }} {{ system["master_inf"] }}</td>
            {% for faction in system["non_natives"] %}
                <td class="table-break"></td>
                <td><a href="{{ url_for('faction', sf_id=faction['id']) }}">{{ faction["name"] }}</a></td>
                <td class="cell-{{ faction['pos_highlight'] }}">{{ faction["position"] }}</td>
                <td class="cell-{{ faction['inf1_highlight'] }}">{{ faction["influence1"] }}</td>
                <td class="cell-{{ faction['inf2_highlight'] }}">{{ faction["influence2"] }}</td>
                <td class="cell-{{ faction['inf3_highlight'] }}">{{ faction["influence3"] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
{% else %}
{% block content %}
<div id="content">
    <h2>Non-Natives Tracking</h2>
    <table class="non-natives-table tables">
        <tr class="title-row">
            <td>System</td>
            <td>{{ results["master_name"] }}</td>
            {% for i in range(1, results["max_count"]+1) %}
                <td class="table-break"></td>
                <td>Faction {{i}}</td>
                <td>Pos</td>
                <td>% Latest</td>
                <td>%</td>
                <td>%</td>
            {% endfor %}
        </tr>
        {% for system in results["data"] %}
        <tr class="content-row">
            <td><a href="{{ url_for('system', sf_id=system['id']) }}">{{ system["name"] }}</a></td>
            <td>#{{ system["master_pos"] }} {{ system["master_inf"] }}</td>
            {% for faction in system["non_natives"] %}
                <td class="table-break"></td>
                <td><a href="{{ url_for('faction', sf_id=faction['id']) }}">{{ faction["name"] }}</a></td>
                <td class="cell-{{ faction['pos_highlight'] }}">{{ faction["position"] }}</td>
                <td class="cell-{{ faction['inf1_highlight'] }}">{{ faction["influence1"] }}</td>
                <td class="cell-{{ faction['inf2_highlight'] }}">{{ faction["influence2"] }}</td>
                <td class="cell-{{ faction['inf3_highlight'] }}">{{ faction["influence3"] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
{% endif %}