{% extends "base.html" %}

{% block content %}
<div id="content">
    {% if system == True %}
    <h2>{{ data[0] }}</h2>
    <table class="system-table">
        <tr class="title-row">
            <td>Faction</td>
            <td>Influence</td>
            <td>Home System</td>
            <td>Expansion</td>
            <td>Conflict</td>
            <td>Retreat</td>
            <td>Last Updated</td>
        </tr>
        {% for faction in data[1] %}
        <tr class="content-row">
            <td><a href="{{ url_for('faction', fac_id=faction['id']) }}">{{ faction["name"] }}</a></td>
            <td>{{ faction["influence1"] }}</td>
            {% if faction["home_system"]["name"] == None %}
            <td>Not tracked</td>
            {% else %}
            <td><a href="{{ url_for('system', sys_id=faction['home_system']['id']) }}">{{ faction["home_system"]["name"] }}</a></td>
            {% endif %}
            <td>{{ faction["expansion"] }}</td>
            <td>{{ faction["conflict"] }}</td>
            <td>{{ faction["retreat"] }}</td>
            <td>{{ faction["updated"] }}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Conflicts</h2>
    {% if data[2]|length == 0 %}
    <p>There are no conflicts to show</p>
    {% else %}
    <table class="conflict-table">
        <tr class="title-row">
            <td>Faction 1</td>
            <td style="text-align: center;">Score & Stakes</td>
            <td>Faction 2</td>
            <td>Stage</td>
            <td>Started on</td>
            <td>Last Updated</td>
        </tr>
        {% for conflict in data[2] %}
        <tr class="content-row">
            <td>{{ conflict.faction_name_1 }}</td>
            <td style="text-align: center;">{{ conflict.faction_score_1 }} - {{ conflict.faction_score_2 }}<br>{{ conflict.faction_stake_1 }} - {{ conflict.faction_stake_2 }}</td>
            <td>{{ conflict.faction_name_2 }} </td>
            <td>{{ conflict.stage }}</td>
            <td>{{ conflict.date_started }}</td>
            <td>{{ conflict.updated_at }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% else %}
    <h2>Tracked Systems</h2>
    <table class="system-table">
        <tr class="title-row">
            <td>System</td>
            <td>Number of Factions</td>
            <td>Last Updated</td>
        </tr>
        {% for sys in data %}
        <tr class="content-row">
            <td><a href="{{ url_for('system', sys_id=sys['id']) }}">{{ sys["name"] }}</a></td>
            <td>{{ sys["num_factions"] }}</td>
            <td>{{ sys["updated"] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}