{% extends "base.html" %}

{% block content %}
<div>
    {% if system == True %}
    <h2>{{ data[0] }}</h2>
    <table border="1px">
        <tr>
            <td>Faction</td>
            <td>Influence</td>
            <td>Home System</td>
            <td>Expansion</td>
            <td>Conflict</td>
            <td>Retreat</td>
            <td>Last Updated</td>
        </tr>
        {% for faction in data[1] %}
        <tr>
            <td><a href='/factions/{{ faction["id"] }}'>{{ faction["name"] }}</a></td>
            <td>{{ faction["influence1"] }}</td>
            <td><a href='/systems/{{ faction["home_system"]["id"] }}'>{{ faction["home_system"]["name"] }}</a></td>
            <td>{{ faction["expansion"] }}</td>
            <td>{{ faction["conflict"] }}</td>
            <td>{{ faction["retreat"] }}</td>
            <td>{{ faction["updated"] }}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Conflicts</h2>
    <table border="1px">
        <tr>
            <td>Faction 1</td>
            <td>Score</td>
            <td>Score</td>
            <td>Faction 2</td>
            <td>Stage</td>
            <td>Started on</td>
            <td>Last Updated</td>
        </tr>
        {% for conflict in data[2] %}
        <tr>
            <td>{{ conflict.faction_name_1 }}<br>{{ conflict.faction_stake_1 }}</td>
            <td>{{ conflict.faction_score_1 }}</td>
            <td>{{ conflict.faction_score_2 }}<br>{{ conflict.faction_stake_2 }}</td>
            <td>{{ conflict.faction_name_2 }} </td>
            <td>{{ conflict.stage }}</td>
            <td>{{ conflict.date_started }}</td>
            <td>{{ conflict.updated_at }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2>Tracked Systems</h2>
    <table border="1px">
        <tr>
            <td>System</td>
            <td>Number of Factions</td>
            <td>Last Updated</td>
        </tr>
        {% for sys in data %}
        <tr>
            <td><a href='/systems/{{ sys["id"] }}'>{{ sys["name"] }}</a></td>
            <td>{{ sys["num_factions"] }}</td>
            <td>{{ sys["updated"] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}