{% extends "manage.html " %}

{% block manage %}
    <form id="user-edit" action="" method="post" novalidate>
        <h3>Edit User</h3>
        {{ form.hidden_tag() }}
        <p>
            {{ user.username }}
        </p>
        <p>
            {{ form.permission.label }}:
            {{ form.permission() }}<br>
        </p>
        <p>
            {{ form.reset_pass.label }}: {{ form.reset_pass(onchange="enablePass()") }}<br>
            To reset pass, type a new password below<br>
            and provide this to the user. They will<br>
            be forced to reset their password on login<br>
        </p>
        <p>
            {{ form.new_pass.label }}:<br>
            {{ form.new_pass(size=20) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
        <script>
            function enablePass(){
              var checked = document.getElementById('reset_pass').checked
              if (checked){
                document.getElementById('new_pass').disabled = false
              } else {
                document.getElementById('new_pass').disabled = true
              }
            }
            enablePass()
        </script>

    </form>
{% endblock %}